.Right__contents
  .RightHeader
    .RightHeader__group
      .RightHeader__groupName
        = @group.name
      .group__memberList
        .group__member
          Member :
          - @group.users.each do |user|
            = user.name
    .RightHeader__edit
      = link_to edit_group_path(@group) do
        Edit

  .Main__chat
    = render @messages
      
          

  .Footer__form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__contents
        = f.text_field :content, class: "Form__input",placeholder:'type a message'
        = f.label :image, class: "Form__input__image" do
          = f.file_field :image, class: "Form__image"
          = icon('fa', 'image', class: "fa__image")
      .Form__submit
        = f.submit 'Send', class: 'submit'